<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selamat Datang | Kelas Terbuka</title>
  </head>
  <body>
    <h1>Blog</h1>
    <h2>Blog ini sudah di templatesnya sendiri</h2>
    <p>Blog ini dibuat menggunakan Django</p>
    <ul>
      <li><a href="/" title="">home</a></li>
      <li><a href="/about" title="">about</a></li>
      <li><a href="/contact" title="">contact</a></li>
      <li><a href="/blog/recent" title="">recent</a></li>
    </ul>
  </body>
</html>
