<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selamat Datang | {{judul}}</title>
  </head>
  <body>
    <h1>About</h1>
    <p>About ini dibuat menggunakan Django</p>
    <p>Kontributor : {{subjudul}}</p>
    <ul>
      <li><a href="/" title="">home</a></li>
      <li><a href="/blog" title="">blog</a></li>
      <li><a href="/contact" title="">contact</a></li>
    </ul>
  </body>
</html>
