<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selamat Datang | Kelas Terbuka</title>
  </head>
  <body>
    <h1>Selamat datang di website ini</h1>
    <p>Website ini dibuat menggunakan Django</p>
    <ul>
      <li><a href="/about" title="">about</a></li>
      <li><a href="/blog" title="">blog</a></li>
      <li><a href="/contact" title="">contact</a></li>
    </ul>
  </body>
</html>
